@import url('https://fonts.googleapis.com/css2?family=Exo:wght@700;800;900&family=Poppins:wght@300;400;600;700;800&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;1,300&display=swap');

/*
Fonts:
    -Poppins: 300,400,600,700,800
    -Rubik: 300,400,500,600
*/
:root{
    --primary-color:#FF6B6B;
    --secondary-color:#794AFA;
    --secondary-dark-color:#453C5C;

    --white-color:#ffffff;
    --light-bg-color:#F2F3F5;
    --border-color:#E5E8EC;
    --dark-color:#0A021C;
    --light-text-color:red;

    --font-small:13px;
    --font-smaller:11px;

    --percent100:100%;
    --percent50:50%;

    --fw3:300;
    --fw5:500;
    --fw6:600;
    --fw7:700;
    --fw8:800;

    --trans-background-color: background-color .3s, color .3s;
    --trans-background:background-color .3s;
    --trans-color:color .3s;
}


    /*something
    is 
    missing
    */
    *,::before,::after{
        box-sizing: border-box;
    }
 body{
        font-size: 'Poppins', sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.4;
        color: var(--dark-color);
        background-color: var(--white-color);
    }
    a{
        text-decoration: none;
        color: inherit;
        -webkit-tap-highlight-color: transparent;
    }
    ul{
        list-style: none;
    }
    img{
        max-width: var(--percent100);
        vertical-align: middle;
    }
    strong{
        font-weight: var(--fw8);
    }
    table{
        border-collapse: collapse;
        border-spacing: 0;
    }
    input::placeholder{
        font:inherit;
    }
    h1,h2,h3,h4{
        font-family: 'Poppins';
    }
    h1{
        font-size: calc(1.3em + 1vw);
        font-weight: var(--fw8);
        line-height: 1;
    }
    h2{
        font-size: 2.5em;
    }
    h3{
        font-size: 1.2em;
        font-weight: var(--fw7);
    }
    h4{
        font-size: 1em;
        font-weight: var(--fw6);
    }

    /*---------------------
        REUSEABLE SELECTORS
    ------------------------*/
    .row{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        flex-flow: row wrap;
        margin: auto;
        position: relative;
    }
    /*---------------------
    *Structure Stling
        00. Resuable Selecors

        01. HEADER
            a. Header Top
            b. Header Nav
            c. Header Main, Department Category
            d. Search Form
            e. Responsive Menu
        02. SLIDER
        03. BRANDS
        04. PRODUCTS
            a. Global Product
            b. BIG product
            c. Mini PRoduct
            d. MAIN Product
        05. BANNER
            a. Newsletter
            b. Widgets
            c. Footer info
        06. BOTTOM MENU
            a. Search
        07. OVERLAY
        08. PAGE SINGLE
            a. Breadcrumb
            b. Product Details
            c. PRoduct Description
            d. Product Review
            e. Product Review Form
        09. PAGE SINGLE: SPECIAL OFFER
        10. PAGE CATEGORY
            a. Sidebar Product filter
            b. Product Block
        11. CART
        12. PAGE CART
        13. PAGE CHECKOUT
        14. MODAL
        15. RESPONSIVENESS
    *
    --------------------------*/

    /*----------------------
     01. HEADER
   ------------------------ */
   nav{
    background-color: var(--white-color);
        box-shadow: 0 5px 15px rgba(0,0,0, 0.06);
        z-index: 999;
        position: sticky;
        top: 0;
        left: 0;
   }
   .nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row wrap;
    width: 90%;
    margin: auto;
   }
   .nav-bar{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 2rem;
    font-weight: var(--fw6);
    color: var(--secondary-dark-color);
   }
   .nav-bar li a{
    transition: 0.3s ease;
   }
   .nav-bar li{
    position: relative;
   }
   .nav-bar li a:hover,
   .nav-bar li a.active{
    color: var(--primary-color);
   }
   .nav-bar li.active a::after,
   .nav-bar li a:hover::after{
    content: "";
    width: 60%;
    height: 2px;
    border-radius: 1px;
    background: var(--primary-color);
    position: absolute;
    top: 1.3rem;
    left: 0;
   }


   /* ---------- Hero Section-------------- */
   .hero-container{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    height: 90vh;
   }
   .left-hero-card{
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 46%;
    gap: 1rem;
    padding: 1rem;
   }
   .right-hero-card{
    width: 50%;
    background-image: url(assets/banner/newBG-removebg-preview.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top 30% right 0;
   }
   .hero-text{
    font-family: 'Exo', sans-serif;
    font-size: 3rem;
    color: var(--dark-color);
    font-weight: var(--fw7);
    line-height: 1;
    text-align: center;
   }
   .hero-text strong{
    color: var(--primary-color);
   }
   .hero-subtext{
    text-align: center;
   }
   .CTA-btn{
    padding: .5rem;
    border-radius: 4px;
    border: 1px solid var(--primary-color);
    cursor: pointer;
    background-color: transparent;
   }
   .shop-btn{
    padding: .5rem 1rem;
    border-radius: 4px;
    border:none;
    cursor: pointer;
    background-color: var(--dark-color);
    color: var(--white-color);
   }
   .shop-btn:hover{
    border:none;
    cursor: pointer;
    background-color: transparent;
    color: var(--dark-color);
    border: 1px solid var(--primary-color);

   }
   .btn-container{
    align-self: center;
   }



   /* ---------- Feaure Section----------------- */
   .feature{
    margin: 2rem 0;
   }
   .feature-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: auto;
   }
   .feature-card{
    display: flex;
    flex-direction: column;
    width: 16%;
    height: 10rem;
    padding: .5rem;
    border-radius: 8px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
   }
   .feature-card:hover{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
   }
   .feature-image{
    width: 95%;
    height: 80%;

   }
   .feature-text{
    text-align: center;
    font-weight: var(--fw6);
   }
   

   /* ------------- f-product section---------------- */
   .f-product{
    margin: 2rem 0;
    padding: 2rem 0;
   }
   .f-product .row .row{
    flex-direction: column;
    border: 1px solid red;
   }
   .f-product-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 90%;
    margin: auto;
    row-gap: 2rem;
   }
   .f-product-card{
    width: 23%;
    max-width: 250px;
    padding: 10px 12px;

    border: 1px solid #ffe5ff;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    transition: 0.2s ease;
   }
   .f-product-card:hover{
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
   }
   .product-image{
   min-width: 100%;
   
   }
   .product-image img{
    width: 100%;
    height: 250px;
    border-radius: 20px;
   object-fit: cover;
   }
    /*----------------------
     01. HEADER
     *-----------------------
             a. Header Top
   ------------------------ */









    /*----------------------
     01. HEADER
     *-----------------------
              b. Header Nav
   ------------------------ */








    /*----------------------
     01. HEADER
     *-----------------------
              c. Header Main, Department Category
   ------------------------ */










    /*----------------------
     01. HEADER
     *-----------------------
              d. Search Form
   ------------------------ */







    /*----------------------
     01. HEADER
     *-----------------------
               e. Responsive Menu
   ------------------------ */



